<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css"/>\
</head>
<body>
	<div class="col-md-12">
		<div class="alert alert-success">
			<strong>Welcome!</strong> {{username}} to mapinfo application.
		</div>
	</div>

</body>
<script type="text/javascript" src="assets/js/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="assets/js/bootstrap.js"></script>
<script type="text/javascript">
	$( document ).ready(function() {
		$.ajax({
			type: "GET",
			headers: {
				"Authorization": make_base_auth("israj","0262"),
				'Content-Type': 'application/x-www-form-urlencoded'
			},
			crossDomain: true,
			url: 'http://localhost:8181/api/coordinate',
			dataType: "json",
			success: function (data, status, xhr) {
        		console.log(xhr.getResponseHeader('Location'));
			}
		});
	});

	function make_base_auth(username, password) {
	
	var tok = username +':'+ password;
	var hash = btoa(tok);
	console.log(hash);
	return "Basic "+hash;
}
</script>
</html
