<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css"/>\
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-offset-5 col-md-3">
				<div class="form-login">
					<h4>Welcome back.</h4>
					<input type="text" id="userName" ng-model="username" class="form-control input-sm chat-input" placeholder="username" />
				</br>
				<input type="text" id="userPassword" ng-model="password" class="form-control input-sm chat-input" placeholder="password" />
			</br>
			<div class="wrapper">
				<span class="group-btn">
					<a href="#" class="btn btn-primary btn-md" onclick="login()">login<i class="fa fa-sign-in"></i></a>
				</span>
			</div>
		</div>

	</div>
</div>
</div>
</body>
<script type="text/javascript" src="assets/js/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="assets/js/bootstrap.js"></script>
<script type="text/javascript">
	function login(){	
		$.ajax({
			type: "POST",
			contentType: "application/json",
			url: 'http://localhost:8181/login',
			data: { username: 'israj',password: '026' },
			dataType: "json",
            success: function (msg) {
                console.log("msg login = ",msg);
            }
		});
	}
</script>
</html
